*{

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Font-Regular';
}

#bg-login{

    background-image: url("../img/bg-login.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.e404{

    color: #fff;
    text-align: center;
    font-size: 3em;
    margin: 50px auto;
    background-color: #000;
    font-family: Arial, Helvetica, sans-serif;
}